@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Elevador - Documentação</h1>
    <p>
        Este programa possui a classe Elevador.cs, contendo os métodos ElevadorMenu, MostrarMenu, VerificaResposta, Inicializar, Entrar, Subir, Descer e Sair. Cujo método principal, ElevadorMenu, é chamado na classe Program e é responsável por chamar os outros métodos e ler as opções escolhidas pelo usuário.
        O método VerificaResposta recebe a opção indicada pelo usuário e executa a função equivalente. Entrar e Sair verificam se é possível executar estas ações de acordo com o número de usuários e a capacidade máxima do elevador. Subir e Descer verificam o andar atual e os limites superior e inferior de andares. E o método Finalizar encerra a aplicação.
    </p>
</div>
